 :root{
    --blue:#5337FF;
    --darkpink:#D326AB;
    --pink:#D350FF;
    --red:#E9479C;
    --orange:#FEC68B;
    --black:#19171c;
   /* font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-style: normal;

  font-family: "Koh Santepheap", serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal; */


 }
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
   font-style: normal;
   
}
body{
    /* background-color:lightblue!important; */
    background-color: #19171c;
    overflow-x: hidden !important;
}
/* Navbar start */
.navbar{
    background: rgb(83,55,255);
    background: linear-gradient(60deg, rgba(83,55,255,1) 0%, rgba(211,80,255,1) 66%);
}
.navbar .navbar-brand{
    color: white;
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-size:2rem;
}
.navbar .nav-item .nav-link{
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
}
.navbar .nav-item .nav-link:hover{
    border:1px solid ;
    border-radius: 5px;
}

/* btn one */
.navbar-nav-btn .nav-item .btn-one{
    width:157px; 
    height:43px;
    text-align: center;
    border-radius:5px;
    border: 0.2px solid rgb(198, 198, 198);
    background: rgb(83,55,255);
    background: linear-gradient(60deg, rgba(83,55,255,1)  0%, rgba(211,80,255,1) 66%);
   
}
.btn-one:hover{
    background: rgb(83,55,255);
    background: linear-gradient(212deg, rgba(83,55,255,1) 18%, rgba(220,41,172,1) 81%) !important; 
}
/* btn one end */
.navbar-toggler {
    /* background: linear-gradient(212deg, rgba(83,55,255,1) 18%, rgba(220,41,172,1) 81%); */
    background-color:whitesmoke;
    font-size:15px;
    color: red;
}
.navbar-toggler:focus{
    box-shadow: none !important;

}
/* Navbar end */
/* Head of the section start */
.sub-title{
    font-size: 24px;
    font-family: "Kadwa", serif;
    font-weight: 400;
    background: rgb(83,55,255);
    background: linear-gradient(66deg, rgba(83,55,255,1) 0%, rgba(211,38,171,1) 81%);
     -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.carousel{
    margin-top: 130px;
}
@media only screen and (max-width: 600px) {
    .carousel{
        margin-top:100px;
    }
}
@media only screen and (max-width:500px){
    .head-img{
        /* border: 2px solid black; */
        height:460px !important;
    }
}
@media only screen and (max-width:375px){
    .head-img{
        /* border: 2px solid black; */
        height:300px !important;
    }
}
.title{
 font-family: "Roboto", sans-serif;
 font-weight: 700;
 font-size:3rem ;
 margin-top:10px;
}
.title-in{
    background: rgb(83,55,255);
    background: linear-gradient(66deg, rgba(83,55,255,1) 0%, rgba(211,38,171,1) 81%);
     -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
@media only screen and (max-width:360px){
    .title{
     font-size:2.5rem ;
      
    }
}
.btn-two{
    width:190px; 
    height:55px;
    text-align: center;
    border-radius:5px;
   border: none;
   outline: none;
   color: white;
   background: rgb(83,55,255);
   background: linear-gradient(234deg, rgba(83,55,255,1) 0%, rgba(220,41,172,1) 100%);
    margin-top: 10px;
}
.btn-two span{
    font-size:13px ;
    font-weight:700;
    margin-top:px ;
}
.btn-two:hover{
    background: rgb(83,55,255);
   background: linear-gradient(45deg, rgba(83,55,255,1) 0%, rgba(220,41,172,1) 100%);
   transition-delay:3s;
}
.background-gradient{
    top:330px;
    right:-200px;
    /* border: 2px solid white; */
}
.inner-gradient{
    width:600px ;
    height:800px;
    background: rgb(83,55,255);
    background: linear-gradient(97deg, rgba(83,55,255,1) 16%, rgba(233,71,156,1) 67%, rgba(254,198,139,1) 100%);
    filter:blur(190px);
}
/* Head of the section end */
/* start about-us */
@media only screen and (max-width:320px){
    .about-us{
        margin-top:0px !important;
    }
}
.main-title{
    font-family: "Koh Santepheap", serif;
    color: white;
}
.main-title span{
    background: rgb(83,55,255);
   background: linear-gradient(90deg, rgba(83,55,255,1) 16%, rgba(211,80,255,1) 67%, rgba(233,71,156,1) 80%, rgba(254,198,139,1) 100%);
   -webkit-background-clip:text;
   -webkit-text-fill-color: transparent;
}
.about-para{
    font-size:16px;
}
.vision-1{
    position: relative;
    /* padding: 1em 2em; */
    background-color: #19191a;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #3c3c3c;
}
/* End about-us */
/* Start future section  */
.future-border-box {
    clip-path: polygon(73% 0, 100% 31%, 100% 100%, 0 100%, 0 0);
    background: linear-gradient(90deg, rgba(83,55,255,1) 16%, rgba(211,80,255,1) 67%, rgba(233,71,156,1) 80%, rgba(254,198,139,1) 100%);
    height:300px;
    width:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px;
} 
.future-inner-box{
    width:345px;
    height:295px;
    clip-path: polygon(73% 0, 100% 31%, 100% 100%, 0 100%, 0 0);
    background-color:#19171c;
    border-radius: 10px;
}
.future-head{
    font-size: 24px;
    font-family: "Koh Santepheap", serif;
    font-weight: 400;
}
@media only screen and (max-width:375px){
    .future-inner-box{
        width:98%;
        height:295px;
    }
}
@media only screen and (max-width:319px){
    .future-border-box {
        height: auto;
    }
    .future-inner-box{
        width:98%;
        height:98%;
    }
}
@media only screen and (max-width:360px){
    .future-box-six{
        height:350px;
    }
    .future-inner-box-six{
        height:345px;

    }
}
/*  End future section*/

/* start Toolkit */
.slide{
    width:270px;
    height: 270px;
    background-color:rgba(86, 86, 86, 0.141);
    border: 1px solid #6e6e6e;
    border-radius: 10px;
    display: inline-flex;
    margin: 0 10px;
}
.slide h5{
    font-family: "Koh Santepheap", serif;
    font-weight: 400;
    font-size: 20px;
}
.slider{
    display: flex;
    position: relative;
    overflow: hidden;
    /* -webkit-mask-image: linear-gradient(90deg, white,#432eb7 20% ,#d71010 80%, transparent); */
}
.slide-track{
    white-space:nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t)*-1);
}
.slide-track p{
    white-space:wrap;
    
}
@keyframes animate{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
} 
.slide-track:nth-child(2){
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t)/-2);
}
.toolkit{
    margin-top:100px ;
 }
@media only screen and (max-width:425px){
    .toolkit{
       margin-top:10px ;
    }
}
/* End Toolkit */
/* start image generator  */
.image-generator{
    margin-top: 100px;
}
.imgage-background-liner{
    margin-top:200px;
    width:300px;
    height:300px;
    background: rgb(233,71,156);
    background: linear-gradient(117deg, rgba(233,71,156,1) 40%, rgba(43,203,186,1) 100%);
    filter: blur(80px);
}

.image-generator-image{
    width:800px; 
    height:500px ; 
    object-fit:contain;
}
.image-generator-image-div{
    top:50px;
}
.image-generator-para-div{
    margin-top: 100px;
}
@media only screen and (max-width:768px){
    .image-generator-image{
        width:500px; 
        height:500px ; 
        object-fit:contain;
        /* border: 2px solid white; */
    }
}
@media only screen and (max-width:425px){
    .imgage-background-liner{
        margin-top:100px ;
    }
    .image-generator-image-div{
        top:0px !important;
        /* border: 2px solid white; */
    }
    .image-generator-image{
        width:800px; 
        height:400px ; 
        object-fit:contain;
        /* border: 2px solid white; */
    }
    .image-generator-para-div{
        margin-top:0px;
    }
}
@media only screen and (max-width:320px){
    .imgage-background-liner{
        margin-top:50px ;
        width:200px;
        height:200px;
        filter: blur(50px);
        border: 2px solid salmon ;
    }
    .image-generator-image-div{
        top:0px !important;
        /* border: 2px solid white; */
    }
    .image-generator-image{
        width:900px; 
        height:300px ; 
        object-fit:contain;
        /* border: 2px solid white; */
    }
    .image-generator-para-div{
        margin-top:30px;
    }
}
.image-background-gradient{
    top:1000px;
    right:-250px;
    /* border: 2px solid white; */
    
}
.image-inner-gradient{
    width:600px ;
    height:800px;
    background: rgb(83,55,255);
    background: linear-gradient(97deg, rgba(83,55,255,1) 16%, rgba(233,71,156,1) 67%, rgba(254,198,139,1) 100%);
    filter:blur(190px);
}
/* End image generator */
.video-para-div{
    margin-top:100px ;
}
  
/* start video generator */
video{
    border-radius: 10px;
    width:30rem;
    /* border:7px solid rgba(94, 94, 94, 0.363); */
}
.video-div{
    margin-top:150px;
}
@media only screen and (max-width:884px){
    .video-para-div{
        margin-top:20px ;
    }
    .video-div{
        margin-top:80px;
    }
}  
@media only screen and (max-width:450px){
    video{
        border-radius: 10px;
        width:20rem;
        /* border:7px solid rgba(94, 94, 94, 0.363); */
    }
}
@media only screen and (max-width:320px){
    video{
        border-radius: 10px;
        width:17rem;
        /* border:7px solid rgba(94, 94, 94, 0.363); */
    }
}
/* start how working */
.how-work h1{
    font-family:"Koh Santepheap", serif; 
    font-size:30px;
    font-weight: bold;
}
.how-work p{
    font-size: 16px;
    letter-spacing:0.6px
}
.how-work h1 span{
    border:1px solid white;
    border-radius:50%;
    padding:2px 15px;
}
.how-work-one{
    position: absolute;
    top:150px;
    left:700px;
}
.how-work-two{
    position: absolute;
    top:700px;
    left:150px;
}
.how-work-three{
    position: absolute;
    top:1270px;
    left:700px;
}

@media only screen and (max-width:1377px){
    .how-work-two{
        top:500px;
        left:150px;
    }
    .how-work-three{
        top:1100px;
        left:500px;
    }
}
@media only screen and (max-width:1200px){
    .how-work-one{
        top:100px;
        left:580px;
        margin-right: 5px;
        /* border:2px solid white; */
    
    }
    .how-work-two{
        top:420px;
        left:150px;
    }
    .how-work-three{
        top:900px;
        left:500px;
        /* border:2px solid white; */
    }
}
@media only screen and (max-width:992px){
    .how-work p{
        display:none;
    }
    .how-work-one{
        top:100px;
        left:400px;
        margin-right: 5px;
    }
    .how-work-two{
        top:320px;
        left:100px;
    }
    .how-work-three{
        top:700px;
        left:400px;
    }
}
@media only screen and (max-width:768px){
    .how-work h1{
        font-size:20px;
    }
    .how-work-one{
        top:80px;
        left:400px;
        margin-right: 5px;
    }
    .how-work-two{
        top:310px;
        left:80px;
    }
    .how-work-three{
        top:700px;
        left:300px;
    }
}
@media only screen and (max-width:767px){
    .how-work h1{
        font-size:20px;
    }
    .how-work-one{
        top:80px;
        left:400px;
        margin-right: 5px;
    }
    .how-work-two{
        top:310px;
        left:80px;
    }
    .how-work-three{
        top:500px;
        left:300px;
    }
}
@media only screen and (max-width:552px){
    .how-work-one{
        top:70px;
        left:280px;
        margin-right: 5px;
    }
    .how-work-two{
        top:250px;
        left:40px;
    }
    .how-work-three{
        top:450px;
        left:230px;
    }
}
@media only screen and (max-width:479px){
    .how-work-one{
        top:70px;
        left:280px;
        margin-right: 5px;
    }
    .how-work-two{
        top:230px;
        left:40px;
    }
    .how-work-three{
        top:380px;
        left:230px;
    }
}
@media only screen and (max-width:448px){
    .how-work h1{
        font-family:"Koh Santepheap", serif; 
        font-size:16px;
        font-weight: bold;
    }
    .how-work-one{
        top:70px;
        left:200px;
        margin-right: 5px;
    }
    .how-work-two{
        top:200px;
        left:30px;
        word-wrap: warp;
    }
    .how-work-three{
        top:320px;
        left:200px;
    }
}

@media only screen and (max-width:368px){
    .how-work h1{
        font-family:"Koh Santepheap", serif; 
        font-size:14px;
        font-weight: bold;
    }
}

@media only screen and (max-width:341px){
    .how-work h1{                                                                 
        font-family:"Koh Santepheap", serif; 
        font-size:12px;
        font-weight: bold;
    }
    .how-work h1 span{
        display:none;
    }
}

@media only screen and (max-width:330px){
    .how-work-one{
        top:30px;
        left:150px;
        margin-right: 5px;
    }
    .how-work-two{
        top:140px;
        left:30px;
        word-wrap: warp;
    }
    .how-work-three{
        top:230px;
        left:140px;
    }
}
.how-background-gradient{
    top:1700px;
    left:-200px;
    /* border: 2px solid white; */
}
.how-inner-gradient{
    width:600px ;
    height:1000px;
    background: rgb(83,55,255);
    background: linear-gradient(97deg, rgba(83,55,255,1) 16%, rgba(233,71,156,1) 67%, rgba(254,198,139,1) 100%);
    filter:blur(190px);
}
/* end how working */