 :root{
    --blue:#5337FF;
    --darkpink:#D326AB;
    --pink:#D350FF;
    --red:#E9479C;
    --orange:#FEC68B;
    --black:#19171c;
   /* font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-style: normal;

  font-family: "Koh Santepheap", serif;
  font-weight: 400;
  font-style: normal;

  font-family: "Kadwa", serif;
  font-weight: 400;
  font-style: normal; */


 }
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    background-color:#100425 !important;
}
/* Navbar start */
.navbar{
    background: rgb(83,55,255);
    background: linear-gradient(60deg, rgba(83,55,255,1) 0%, rgba(211,80,255,1) 66%);
}
.navbar .navbar-brand{
    color: white;
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-size:2rem;
}
.navbar .nav-item .nav-link{
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;
}
.navbar .nav-item .nav-link:hover{
    border:1px solid ;
    border-radius: 5px;
}
@media screen and(max-with:786px){
    body{
        background-color: #5337FF !important;
    }
    
}
/* btn one */
.navbar-nav-btn .nav-item .btn-one{
    width:157px; 
    height:43px;
    text-align: center;
    border-radius:5px;
    border: 0.2px solid rgb(198, 198, 198);
    background: rgb(83,55,255);
    background: linear-gradient(60deg, rgba(83,55,255,1)  0%, rgba(211,80,255,1) 66%);
   
}
.btn-one:hover{
    background: rgb(83,55,255);
    background: linear-gradient(212deg, rgba(83,55,255,1) 18%, rgba(220,41,172,1) 81%) !important; 
}
/* btn one end */
.navbar-toggler {
    /* background: linear-gradient(212deg, rgba(83,55,255,1) 18%, rgba(220,41,172,1) 81%); */
    background-color:whitesmoke;
    font-size:15px;
    color: red;
}
.navbar-toggler:focus{
    box-shadow: none !important;

}
/* Navbar end */
/* Head of the section start */
.sub-title{
    font-size: 24px;
    font-family: "Kadwa", serif;
    font-weight: 400;
    background: rgb(83,55,255);
    background: linear-gradient(66deg, rgba(83,55,255,1) 0%, rgba(211,38,171,1) 81%);
     -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}


/* .boxone{
    width: 160px;
    height:180px;
    background-color:#19171c !important;
    position: relative;
    border-radius:10px;
}
.boxone::before{
    content: '';
    background: linear-gradient(212deg, rgba(83,55,255,1) 18%, rgba(220,41,172,1) 81%);
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    margin:-1px;
    border-radius:10px; 
}*/
/* Head of the section start */